<!-- <p>footer works!</p> -->
<footer>
  <div class="containers">
    <div class="container">
      <div class="icon">
        <img src="japanese-food (1).png"/>
        <h1>Bistro Bliss</h1>
      </div>
      <p>In the new era of technology we look a in the future with certainty and pride to for our company and.</p>
      <div class="socialmediaAccounts">
        <a class="sm" href="#"><img src="logo-twitter 2.png"/></a>
        <a class="sm" href="#"><img src="logo-fb-simple 2.png"/></a>
        <a class="sm" href="#"><img src="logo-instagram 1.png"/></a>
        <a class="sm" href="#"><img src="logo-github 1.png"/></a>
      </div>
    </div>
    <div class="container">
      <h3>
        Pages
      </h3>
      <a routerLink="/">Home</a>
      <a href="#">About</a>
      <a routerLink="/menu">Menu</a>
      <a href="#">Pricing</a>
      <a href="#">Blog</a>
      <a routerLink="/contact">Contact</a>
      <a href="#">Delivery</a>

    </div>
    <div class="container">
      <h3>
        Utility Pages
      </h3>
      <a href="#">Start Here</a>
      <a href="#">Styleguide</a>
      <a href="#">Password Protected</a>
      <a href="#">404 Not Found</a>
      <a href="#">Licenses</a>
      <a href="#">Changelog</a>
      <a href="#">View More</a>

    </div>
    <div class="container lastcontainer">
      <h3>Follow Us On Instagram</h3>
      <div class="photos">
        <img src="pexels-ash-376464 1.png" alt=""/>
        <img src="pexels-ella-olsson-1640772 1.png" alt=""/>
        <img src="eiliv-aceron-d5PbKQJ0Lu8-unsplash 1.png" alt=""/>
        <img src="pexels-steve-3789885 1.png" alt=""/>
      </div>
    </div>
  </div>

  <div class="bottomfooter">
    <p>Copyright © 2023 Hashtag Developer. All Rights Reserved</p>
  </div>
</footer>
