<div class="second-section">

  <h1>Browse Our Menu</h1>
  <div>
    <div class="container">
      <div><img src="cup_4138933.png"/></div>
      <h3>Breakfast</h3>
      <p>In the new era of technology we look in the future with certainty and pride for our life.</p>
      <a (click)="navigateToMenu('Breakfast')">Explore Menu</a>
    </div>
    <div class="container">
      <div><img src="pop-corn_1156853.png"/></div>
      <h3>Main Dishes</h3>
      <p>In the new era of technology we look in the future with certainty and pride for our life.</p>
      <a (click)="navigateToMenu('Main Dish')">Explore Menu</a>
    </div>
    <div class="container">
      <div><img src="water_2698735.png"/></div>
      <h3>Drinks</h3>
      <p>In the new era of technology we look in the future with certainty and pride for our life.</p>
      <a (click)="navigateToMenu('Drink')">Explore Menu</a>
    </div>
    <div class="container">
      <div><img src="cake_1048007.png"/></div>
      <h3>Desserts</h3>
      <p>In the new era of technology we look in the future with certainty and pride for our life.</p>
      <a (click)="navigateToMenu('Dessert')">Explore Menu</a>
    </div>
  </div>

</div>
