<nav>
  <div class="topnav">
    <div class="connections">
      <p>📞 (414) 857 - 0107 &nbsp; &nbsp; &nbsp; &nbsp;✉ {{ email }}</p>
      <div class="social-media-links">
        <a href="#"><img src="twitter-alt-circle_12107562.png"/></a>
        <a href="#"><img src="facebook_2168281.png"/></a>
        <a href="#"><img src="instagram_1384015.png"/></a>
        <a href="#"><img src="github_5968896.png"/></a>

      </div>
    </div>
  </div>

  <div class="second-nav">
    <div>
      <div class="icon">
        <img src="japanese-food.png"/>
        <h1>Bistro Bliss</h1>
      </div>

      <div class="links">
        <a  routerLink="/home">Home</a>
        <a routerLink="/book">Book</a>
        <a routerLink="/menu">Menu</a>
        <a routerLink="/contact">Contact</a>
        <a (click)="deleteCookie()" routerLink="/">Logout</a>
      </div>
      <button>Book A Table</button>
    </div>
  </div>
</nav>
