<div class="third-section">

  <div class="left-section">
      <img src="section3.png"/>
      <div class="card">
        <h3>Come and visit us</h3>
          <p>☎ <span>(414) 857 - 0107</span> </p>
          <p>✉ <span>{{email}}</span> </p>
          <p>📌<span>837 W. Marshall Lane Marshalltown,</span><br><span class="spasial">IA 50158, Los Angeles</span> </p>
      </div>
  </div>

  <div class="right-section">
      <h1>We provide healthy food for your family.</h1>
      <h4>Our story began with a vision to create a unique dining experience that merges fine dining, exceptional service, and a vibrant ambiance. Rooted in city's rich culinary culture, we aim to honor our local roots while infusing a global palate.</h4>
      <p>At place, we believe that dining is not just about food, but also about the overall experience. Our staff, renowned for their warmth and dedication, strives to make every visit an unforgettable event.</p>
      <button>More About Us</button>
  </div>

</div>
